/* Variables */
:root {
    --main-color: #dd5891;
}

/* End of variables */
/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arvo', serif;
    background-color: black;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

/* medium */
@media (min-width: 992x) {
    .container {
        width: 970px
    }
}

/* larg */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

/*End Of Global Rules */

/* Header */
/* header {
    padding: 40px;

} */

header .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #687c86;
    bottom: 10px;
    left: 20px;
    z-index: -1;
}

.logo {
    width: 60px;
    position: absolute;
    top: 22px;
    left: 13px;
}

header .container img {}

header .container nav {
    flex: 1;
}

header .container nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

}

header .container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 32px;
}

header .container nav ul li a:active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);

}

header .container nav ul .form {
    display: block;
    padding: 40px 0px 40px 20px;
}

header .container nav ul div i {
    color: white;
    transition: 0.5s;
    border-left: 1px solid white;
    padding-left: 20px;
}

header .container nav ul div i:active,
header .container nav ul div i:hover {
    color: var(--main-color);
    cursor: pointer;
    border-left-color: var(--main-color);
}

/* End of header */